<html>
    <head>
        <meta charset="UTF-8">
        <title>Mood graph for <%= handle %></title>
    </head>

    <body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <canvas id="myChart" width="200" height="200"></canvas>

        <script>
            let moods = "<%= moods %>".split(',');
            let times = "<%= times %>".split(',');
            let borderColors = "<%= borderColors %>".split(',');
            let backgroundColors = "<%= backgroundColors %>".split('|');

            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: times,
                    datasets: [{
                        label: 'Mood flux',
                        data: moods,
                        backgroundColor: backgroundColors,
                        // borderColor: borderColors,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                min: 0,
                                max: 6,
                                stepSize: 1
                            }
                        }]
                    }
                }
            });
        </script>
    </body>
</html>